# Airflow runtime logs (mounted)
logs/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd


# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.code-workspace



# Data outputs
src/data/raw/
src/data/processed/
dags/src/data/raw/
dags/src/data/processed/

# Jupyter
.ipynb_checkpoints/

# Docker
*.pid
